<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <!-- Include your CSS files here -->
</head>
<body>
    {% include 'headerall.html' %}

    <!-- password_reset_done.html -->
    <section class="login-wrap">
        <div class="container">
            <div class="row log-in">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
                    <div class="theme-card">
                        <div class="title-3 text-start">
                            <h2>Password Reset Requested</h2>
                        </div>
                        <p>An email has been sent to the address provided with instructions to reset your password.</p>
                        <a href="{% url 'signin' %}" class="btn btn-gradient btn-pill color-2">Return to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->


    {% include 'footerdark.html' %}

    <!-- Include your JavaScript files here -->
</body>
</html>
