{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sheltos - Signup wizard page">
    <meta name="keywords" content="sheltos">
    <meta name="author" content="sheltos">
    <link rel="icon" href="{% static 'images/favicon.png'%}" type="image/x-icon" />
    <title>Sheltos - Signup wizard page</title>

   <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css'%}">
    
    <!-- Template css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/color1.css'%}">

</head>

<body>

    <!-- Loader start -->
    <div class="loader-wrapper">
        <div class="row loader-img">
            <div class="col-12">
                <img src="{% static 'images/loader/loader-2.gif'%}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- Loader end -->

    <!-- header start -->
    
    <!--  header end -->


    <!-- breadcrumb start -->
    <section class="breadcrumb-section p-0">
        <img src="{% static 'images/inner-background.jpg'%}" class="bg-img img-fluid" alt="">
        <div class="container">
            <div class="breadcrumb-content">
                <div>
                    <h2>Sign up wizard</h2>
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sign up wizard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->

    <!-- sign up section start -->
    <section class="property-wizard">
        <div class="container">
            <div class="row wizard-box">
                <div class="col-sm-12">
                    <div class="wizard-step-container row">
                       <div class="col-xxl-3 col-lg-4">
                           <div class="theme-card">
                            <ul class="wizard-steps">
                                <li class="step-container step-1 active">
                                    <div class="media">
                                        <div class="step-icon">
                                            <i data-feather="check"></i>
                                            <span>1</span>
                                        </div>
                                        <div class="media-body">
                                            <h5>General</h5>
                                            <h6>Basic Information</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="step-container step-2">
                                    <div class="media">
                                        <div class="step-icon">
                                            <i data-feather="check"></i>
                                            <span>2</span>
                                        </div>
                                        <div class="media-body">
                                            <h5>Address</h5>
                                            <h6>Add your place</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="step-container step-3">
                                    <div class="media">
                                        <div class="step-icon">
                                            <i data-feather="check"></i>
                                            <span>3</span>
                                        </div>
                                        <div class="media-body">
                                            <h5>Gallery</h5>
                                            <h6>Add your media</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="step-container step-4">
                                    <div class="media">
                                        <div class="step-icon">
                                            <i data-feather="check"></i>
                                            <span>4</span>
                                        </div>
                                        <div class="media-body">
                                            <h5>Confirmation</h5>
                                            <h6>Complete details</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                           </div>
                       </div>
                       {% if form_errors %}
                            <div class="form-errors">
                                <ul>
                                    {% for field, errors in form_errors.items %}
                                        <li>{{ field }}: 
                                            {% for error in errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                   
    
                        <form class="wizard-form-details col-xxl-9 col-lg-8" action="/submit-property/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div>
                            <div class="theme-card my-3">
                                <div class="wizard-step-1 d-block">
                                    <h2>General</h2>
                                    <p class="font-roboto">Basic information about property</p>
                                    <div class="row gx-3">
                                        
                                        <div class="form-group col-sm-6">
                                            <label>You are looking for</label>
                                            <div class="toggle-buttons">
                                                <button type="button" id="Rent" class="btn btn-outline-primary active">Rent / Lease</button>
                                                <button type="button" id="Sale" class="btn btn-outline-primary">Sale</button>
                                                <input type="hidden" name="post_type" id="post_type" value="Rent">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-6">
                                            <label>And it's a</label>
                                            <div class="toggle-buttons d-flex">
                                                <button type="button" id="Residential" class="btn btn-outline-primary active me-2">Residential</button>
                                                <button type="button" id="Commercial" class="btn btn-outline-primary">Commercial</button>
                                                <input type="hidden" name="property_type1" id="property_type1" value="Residential">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-12">
                                            <div id="property-type-buttons">
                                                <div id="residential-options" class="toggle-buttons d-flex">
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Apartment" class="btn btn-outline-primary me-2">Apartment</button>
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Villa" class="btn btn-outline-primary me-2">Villa</button>
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Builder Floor" class="btn btn-outline-primary me-2">Builder Floor</button>
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Residential New Project" class="btn btn-outline-primary me-2">New Project</button>
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Weekend Homes" class="btn btn-outline-primary">Weekend Homes</button>
                                                    
                                                    <input type="hidden" name="specific_type1" id="specific_type1" value="Apartment">
                                                </div>
                                                <div id="commercial-options" class="toggle-buttons d-flex d-none">
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Office" class="btn btn-outline-primary me-2">Office</button>
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Retail" class="btn btn-outline-primary me-2 ">Retail</button>
                                                    <button style="font-size: 13px;padding: 3px 5px 3px;" type="button" id="Commercial New Project" class="btn btn-outline-primary">New Project</button>
                                                    
                                                    <input type="hidden" name="specific_type2" id="specific_type2" value="Office">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">  
                                            <label>MahaRERA Registration Number <span class="required">*</span></label>
                                            <input type="text" class="form-control" name="maharera_number" id="maharera-number" placeholder="Registration Number" required>
                                        </div>
                                        
                                        <div class="form-group col-sm-6">
                                            <label>Property Price <span class="required">*</span></label>
                                            <input type="number" name="property_price" id="property-price" class="form-control" placeholder="₹ 280000" required>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Area (sq ft) <span class="required">*</span></label>
                                            <input type="number" name="property_area" id="property-area" class="form-control" placeholder="850 sq ft" required>
                                        </div>
                                        <div class="form-group col-sm-4 hide-on-commercial" id="bedrooms-group">
                                            <label>Bedrooms</label>
                                            <div class="dropdown">
                                                <span class="dropdown-toggle font-rubik" data-bs-toggle="dropdown"><span>Select</span> <i class="fas fa-angle-down"></i></span>
                                                <div class="dropdown-menu text-start">
                                                    <a class="dropdown-item" id="Bedrooms-1" href="javascript:void(0)">1</a>
                                                    <a class="dropdown-item" id="Bedrooms-2" href="javascript:void(0)">2</a>
                                                    <a class="dropdown-item" id="Bedrooms-3" href="javascript:void(0)">3</a>
                                                    <a class="dropdown-item" id="Bedrooms-4+" href="javascript:void(0)">4+</a>
                                                    
                                                </div>
                                                <input type="hidden" name="bedrooms" id="bedrooms-count" value="">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-4 hide-on-commercial" id="balconies-group">
                                            <label>Balconies</label>
                                            <div class="dropdown">
                                                <span class="dropdown-toggle font-rubik" data-bs-toggle="dropdown"><span>Select</span> <i class="fas fa-angle-down"></i></span>
                                                <div class="dropdown-menu text-start">
                                                    <a class="dropdown-item" id="Balconies-1" href="javascript:void(0)">1</a>
                                                    <a class="dropdown-item" id="Balconies-2" href="javascript:void(0)">2</a>
                                                    <a class="dropdown-item" id="Balconies-3+" href="javascript:void(0)">3+</a>
                                                    
                                                </div>
                                                <input type="hidden" name="balconies" id="balconies-count" value="">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-4" id="bathrooms-group">
                                            <label>Bathrooms</label>
                                            <div class="dropdown">
                                                <span class="dropdown-toggle font-rubik" data-bs-toggle="dropdown"><span>Select</span> <i class="fas fa-angle-down"></i></span>
                                                <div class="dropdown-menu text-start">
                                                    <a class="dropdown-item" id="Bathrooms-1" href="javascript:void(0)">1</a>
                                                    <a class="dropdown-item" id="Bathrooms-2" href="javascript:void(0)">2</a>
                                                    <a class="dropdown-item" id="Bathrooms-3" href="javascript:void(0)">3</a>
                                                    <a class="dropdown-item" id="Bathrooms-3+" href="javascript:void(0)">3+</a>
                                                    
                                                </div>
                                                <input type="hidden" name="bathrooms" id="bathrooms-count" value="">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-4" id="availibility-group">
                                            <label>Availability Status <span class="required">*</span></label>
                                            <div class="dropdown">
                                                <span class="dropdown-toggle font-rubik"
                                                data-bs-toggle="dropdown"><span>Select</span> <i
                                                class="fas fa-angle-down"></i></span>
                                                <div class="dropdown-menu text-start">
                                                    <a class="dropdown-item" id="status-under_cons" href="javascript:void(0)">Under Construction</a>
                                                    <a class="dropdown-item" id="status-read" href="javascript:void(0)">Ready to move</a>   
                                                </div>
                                                <input type="hidden" name="status" id="status" value="">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label>Ownership Details <span class="required">*</span></label>
                                            <div class="toggle-buttons" id="poster_detail">
                                                <button type="button" id="owner" class="btn btn-outline-primary active">Owner</button>
                                                <button type="button" id="agent" class="btn btn-outline-primary">Agent</button>
                                                <input type="hidden" name="ownership" id="poster" value="owner">
                                            </div>
                                        </div>
                                        <!-- <div class="form-group col-sm-4">
                                            <label>Price</label>
                                            <input type="text" class="form-control" placeholder="$3000">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="4"></textarea>
                                        </div> -->
                                        <div class="next-btn text-end">
                                            <button type="button" class="btn btn-gradient color-2 next1 btn-pill">Next <i class="fas fa-arrow-right ms-2"></i></button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="wizard-step-2 d-none">
                                    <h2>Address</h2>
                                    <p class="font-roboto">Add your property Location</p>
                                    <div class="row gx-3" >
                                        
                                        <div class="form-group col-sm-6">
                                            <label>City</label>
                                            <input type="text" id="city" name="city" class="form-control" placeholder="City">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Locality</label>
                                            <input type="text" id="Locality" name="locality" class="form-control" placeholder="Locality">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>State</label>
                                            <input type="text" class="form-control" name="state" placeholder="State">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Country</label>
                                            <input type="text" class="form-control" name="country" placeholder="Country">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Address</label>
                                            <input type="text" class="form-control" name="address" placeholder="Address of your property">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Appartment & Flat no.</label>
                                            <input type="text" class="form-control" name="appartment" placeholder="Appartment & Flat no.">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Zip code</label>
                                            <input type="number" class="form-control" name="zip_code" placeholder="422009">
                                        </div>
                                      
                                        <div class="form-group col-sm-6">
                                            <label>Landmark</label>
                                            <input type="text" class="form-control" name="landmark" placeholder="landmark place name">
                                        </div>
                                        <!-- <div class="col-sm-12">
                                            <iframe title="realestate location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.1583091352!2d-74.11976373946229!3d40.69766374859258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1563449626439!5m2!1sen!2sin"
                                            allowfullscreen></iframe>
                                        </div> -->
                                        <div class="next-btn d-flex">
                                            <button type="button" class="btn btn-dashed color-2 prev1 btn-pill"><i class="fas fa-arrow-left me-2"></i> Previous</button>
                                            <button type="button" class="btn btn-gradient color-2 next2 btn-pill">Next <i class="fas fa-arrow-right ms-2"></i></button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="wizard-step-3 d-none">
                                    <h2>Gallery</h2>
                                    <p class="font-roboto">Add your property Media</p>
                                    <label>Images</label>
                                    <div class="dropzone" id="form3"  >
                                        
                                        <div class="dz-message needsclick">
                                        <h6>Drop files here or click to upload.</h6>
                                        <input type="file" name="images" id="images" class="form-control" multiple>
                                        </div>
                                    </div>
                                    <label>Video</label>
                                    <div class="dropzone" id="form3"  >
                                        
                                        <div class="dz-message needsclick">
                                        <h6>Drop files here or click to upload.</h6>
                                        <input type="file" name="videos" id="videos" class="form-control" multiple>
                                        </div>
                                    </div>
                                    <div class="row gx-3" id="form4">
                                            <div class="form-group col-sm-12">
                                                <label>Additional features</label>
                                                <div class="feature-checkbox">
                                                    <label for="feature-Security">
                                                        <input class="checkbox_animated color-2" id="feature-Security" name="security" type="checkbox"> Security
                                                    </label>
                                                    <label for="feature-Power-Backup">
                                                        <input class="checkbox_animated color-2" id="feature-Power-Backup" name="powerbackup" type="checkbox"> Power Backup
                                                    </label>
                                                    <label for="feature-wifi">
                                                        <input class="checkbox_animated color-2" id="feature-wifi" name="wifi" type="checkbox"> Wi-Fi
                                                    </label>
                                                    <label for="feature-Elevator">
                                                        <input class="checkbox_animated color-2" id="feature-Elevator" name="elevator" type="checkbox"> Elevator
                                                    </label>
                                                    <label for="featuer-Parking">
                                                        <input class="checkbox_animated color-2" id="featuer-Parking" name="parking" type="checkbox"> Parking
                                                    </label>
                                                    <label for="featuer-Air-Conditioning">
                                                        <input class="checkbox_animated color-2" id="featuer-Air-Conditioning" name="ac" type="checkbox"> Air Conditioning
                                                    </label>
                                                    <label for="featuer-Pool">
                                                        <input class="checkbox_animated color-2" id="featuer-Pool" name="pool" type="checkbox"> Pool
                                                    </label>
                                                    <label for="featuer-Gym">
                                                        <input class="checkbox_animated color-2" id="featuer-Gym" name="gym" type="checkbox"> Gym
                                                    </label>
                                                    <label for="featuer-Clubhouse">
                                                        <input class="checkbox_animated color-2" id="featuer-Clubhouse" name="club" type="checkbox"> Clubhouse
                                                    </label>
                                                </div>
                                            </div>
                                        <div class="next-btn d-flex">
                                            <button type="button" class="btn btn-dashed color-2 prev2 btn-pill"><i class="fas fa-arrow-left me-2"></i> Previous</button>
                                            <button type="button" class="btn btn-gradient color-2 next3 btn-pill">Next <i class="fas fa-arrow-right ms-2"></i></button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="wizard-step-4 d-none">
                                    <div class="complete-details">
                                        <div>
                                            <img src="https://themes.pixelstrap.com/sheltos/static/images/inner-pages/4.svg" class="img-fluid" alt="">
                                            <h3>Thank you !!</h3>
                                            <h6>Congratulations, your property has been submitted</h6>
                                            <p class="font-roboto">Residences can be classified by and how they are connected to neighbouring residences and land. 
                                                Different types of housing tenure can be used for the same physical type.</p>
                                            
                                            <button type="submit" id="submit" class="btn btn-gradient color-2 step-again btn-pill">Submit Property</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sign up section end -->

    <!-- footer start -->
    <footer>
        <div class="footer footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="footer-details text-center">
                            <a href="https://themes.pixelstrap.com/sheltos/index.html">
                                <img src="{% static 'images/logo/footer-logo.png'%}" alt="">
                            </a>
                            <p>Elegant retreat in a quiet Coral Gables setting. This home provides
                                wonderful entertaining spaces with a chef kitchen opening
                            </p>
                            <h6>Contact us</h6>
                            <ul class="icon-list">
                                <li><a href="contact-3.html"><i class="fas fa-map-marker-alt"></i></a></li>
                                <li><a href="contact-3.html"><i class="fas fa-phone-alt"></i></a></li>
                                <li><a href="signup.html"><i class="fas fa-envelope"></i></a></li>
                                <li><a href="contact-3.html"><i class="fas fa-globe"></i></a></li>
                                <li><a href="contact-3.html"><i class="fas fa-wifi"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="footer-links footer-left-space">
                                    <h5 class="footer-title ">Useful links
                                        <span class="according-menu"><i class="fas fa-chevron-down"></i></span>
                                    </h5>
                                    <ul class="footer-content">
                                        <li>
                                            <a href="about-us-2.html">About us</a>
                                        </li>
                                        <li>
                                            <a href="grid-2.html">New Arrivals</a>
                                        </li>
                                        <li>
                                            <a href="agency-grid.html">Agency</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">Faq</a>
                                        </li>
                                        <li>
                                            <a href="contact-2.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <div class="footer-links">
                                    <h5 class="footer-title">feature
                                        <span class="according-menu"><i class="fas fa-chevron-down"></i></span>
                                    </h5>
                                    <ul class="footer-content">
                                        <li>
                                            <a href="services.html">Services</a>
                                        </li>
                                        <li>
                                            <a href="agency-list.html">Agency</a>
                                        </li>
                                        <li>
                                            <a href="agent-grid.html">Agents</a>
                                        </li>
                                        <li>
                                            <a href="pricing.html">Pricing</a>
                                        </li>
                                        <li>
                                            <a href="user-favourites.html">Favourites</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4">
                                <div class="footer-links">
                                    <h5 class="footer-title">Social
                                        <span class="according-menu"><i class="fas fa-chevron-down"></i></span>
                                    </h5>
                                    <ul class="footer-content">
                                        <li>
                                            <a href="https://www.facebook.com/">Facebook</a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/">Instagram</a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/">Twitter</a>
                                        </li>
                                        <li>
                                            <a href="https://login.mailchimp.com/">Mail chimp</a>
                                        </li>
                                        <li>
                                            <a href="https://accounts.google.com/">Gmail</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-links">
                                    <h5 class="footer-title">subscribe
                                        <span class="according-menu"><i class="fas fa-chevron-down"></i></span>
                                    </h5>
                                    <div class="footer-content">
                                        <p class="mb-0">
                                            Real estate investing involves the purchase, Improvement of realty, management and sale or rental of real estate for profit.
                                        </p>
                                        <form>
                                            <div class="input-group">
                                                <input type="email" class="form-control" placeholder="Email Address" required>
                                                <span class="input-group-apend">
                                                    <button type="submit" class="input-group-text" id="basic-addon2"><i
                                                        class="fas fa-paper-plane"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-blog">
                            <div class="slick-between">
                                <div class="footer-slider">
                                    <div>
                                        <div class="media">
                                            <a href="blog-detail-left-sidebar.html">
                                                <div class="img-overlay">
                                                        <img src="{% static 'images/footer/1.jpg'%}" alt="">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                               <h6><a href="blog-detail-left-sidebar.html">Real Estate Industry</a></h6>
                                                <p class="font-roboto"><a href="blog-detail-right-sidebar.html">An Electronic version of the real estate industry.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="media">
                                            <a href="blog-detail-left-sidebar.html">
                                                <div class="img-overlay">
                                                        <img src="{% static 'images/footer/2.jpg'%}" alt="">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <h6><a href="blog-detail-left-sidebar.html">Entertaining Spaces</a></h6>
                                                <p class="font-roboto"><a href="blog-detail-right-sidebar.html">This home provides
                                                    wonderful entertaining spaces.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="media">
                                            <a href="blog-detail-left-sidebar.html">
                                                <div class="img-overlay">
                                                        <img src="{% static 'images/footer/3.jpg'%}" alt="">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                               <h6><a href="blog-detail-left-sidebar.html">Estate Agents Work</a></h6>
                                                <p class="font-roboto"><a href="blog-detail-right-sidebar.html">The market of buying and selling real estate.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="media">
                                            <a href="blog-detail-left-sidebar.html">
                                                <div class="img-overlay">
                                                        <img src="{% static 'images/footer/4.jpg'%}" alt="">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <h6><a href="blog-detail-left-sidebar.html">Increase in Demand</a></h6>
                                                <p class="font-roboto"><a href="blog-detail-right-sidebar.html">The effects of an increase demand in short run.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="copy-right">
                            <p class="mb-0">Copyright 2022, All Right Reserved Sheltos</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-end">
                        <ul class="sub-footer-link">
                            <li><a href="layout-2.html">Home</a></li>
                            <li><a href="terms-conditions.html">Terms</a></li>
                            <li><a href="privacy-policy.html">Privacy policy</a></li>
                            <li><a href="contact-2.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- tap to top start -->
    <div class="tap-top">
        <div>
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>
    <!-- tap to top end -->

    <!-- customizer start -->
    <div class="customizer-wrap">
        <div class="customizer-links">
            <i data-feather="settings"></i>
        </div>
        <div class="customizer-contain custom-scrollbar">
            <div class="setting-back">
                <i data-feather="x"></i>
            </div>
            <div class="layouts-settings">
                <div class="customizer-title">
                    <h6 class="color-2">Layout type</h6>
                </div>
                <div class="option-setting">
                    <span>Light</span>
                    <label class="switch">
                        <input type="checkbox" name="chk1" value="option" class="setting-check"><span class="switch-state"></span>
                    </label>
                    <span>Dark</span>
                </div>
            </div>
            <div class="layouts-settings">
                <div class="customizer-title">
                    <h6 class="color-2">Layout Direction</h6>
                </div>
                <div class="option-setting">
                    <span>LTR</span>
                    <label class="switch">
                        <input type="checkbox" name="chk2" value="option" class="setting-check1"><span class="switch-state"></span>
                    </label>
                    <span>RTL</span>
                </div>
            </div>
            <div class="layouts-settings">
                <div class="customizer-title">
                    <h6 class="color-2">Unlimited Color</h6>
                </div>
                <div class="option-setting unlimited-color-layout">
                    <div class="form-group">
                        <label for="ColorPicker3">color 3</label>
                        <input id="ColorPicker3" type="color" value="#ff5c41" name="Default">
                    </div> 
                    <div class="form-group">
                        <label for="ColorPicker4">color 4</label>
                        <input id="ColorPicker4" type="color" value="#ff8c41" name="Default">
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- customizer end -->

    <!-- latest jquery-->
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>

    <!-- popper js-->
    <script src="{% static 'js/popper.min.js'%}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <!-- feather icon js-->
    <script src="{% static 'js/feather-icon/feather.min.js'%}"></script>
    <script src="{% static 'js/feather-icon/feather-icon.js'%}"></script>

    <!-- slick js -->
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/slick-animation.min.js'%}"></script>
    <script src="{% static 'js/custom-slick.js'%}"></script>

    <!-- sweetalert js -->
    <script src="{% static 'js/sweetalert.min.js'%}"></script>

    <!-- notify js -->
    <script src="{% static 'js/bootstrap-notify.min.js'%}"></script>

    <!-- wizard js -->
    <script src="{% static 'js/signup-wizard.js'%}"></script>

    <!-- login js -->
    <script src="{% static 'js/login.js'%}"></script>

    <!-- Template js-->
    <script src="{% static 'js/script.js'%}"></script>

    <!-- Customizer js-->
    <script src="{% static 'js/customizer.js'%}"></script>

    <!-- Color-picker js-->
    <script src="{% static 'js/color/single-property.js'%}"></script>

</body>

</html>